/* GLOBAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts and Body */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.6;
  background-color: #FFFEF3; 
  color: #1F271B; 
}

/* Wrapper */
#wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1800px;
}

/* Header */
header {
  background-color: #19647E;
  color: #fff;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 0 0 10px 10px; 
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

.header-content {
  display: flex; 
  align-items: center; 
}

.header-content h1 {
  margin: 0; 
}

.header-content img {
  width: 200px; 
  margin-left: 20px; 
}


header h1 a {
  color: #fff;
  text-decoration: none;
}


/* Navigation */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #555;
  position: relative;
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

/* Navigation and Sidebar button hover effect */
nav ul li a:hover, aside ul li a:hover {
  background-color: #28AFB0; 
}

/* Content and Sidebar Container */
#content-container {
  display: flex;
  flex-wrap: wrap;
}

/* Content */
main {
  padding: 20px;
  background-color: #fff;
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}

article {
  margin-bottom: 20px;
}

article h2 {
  margin-bottom: 10px;
}

article img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Sidebar */
aside {
  width: 20%;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

aside h3 {
  margin-bottom: 15px;
}

aside nav {
  position: sticky;
  top: 20px;
  margin-top: 10px;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  margin-bottom: 15px;
  display: inline-block; 
}

aside ul li a {
  color: #333;
  text-decoration: none;
  display: block; 
  padding: 15px 20px; 
  border-radius: 10px; 
  background-color: #ddd; 
}

aside ul li a:hover {
  background-color: #ccc; 
}

/* Footer */
footer {
  background-color: #EE964B; 
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px 10px 0 0; 
}

footer a {
  color: #19647E;
}

@media screen and (max-width: 800px) {
  aside {
    width: 100%;
    margin-bottom: 20px; 
  }

  aside nav {
    margin-top: 0;
  }

  aside ul li {
    margin-bottom: 10px; 
    display: block; 
  }

  aside ul li a {
    padding: 10px 15px;
  }

  
  nav ul {
    text-align: left; 
  }

  nav ul li {
    display: block;
    margin-bottom: 10px; 
  }

  nav ul li:last-child {
    margin-bottom: 0; 
  }

  nav ul li a {
	color: #fff;
    display: block; 
    padding: 15px 20px; 
    border-radius: 10px; 
    background-color: #555555; 
  }

  nav ul li a:hover {
    background-color: #28AFB0; 
  }

  .header-content img {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-content img {
    margin-left: auto; 
  }
}
